@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bebee1;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}