@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e6e6ff;
    width: 100vw;
    overflow-x: hidden;
    font-family: "montserrat", sans-serif;
}